
.divider {
  width: 100%;
  height: 1px;
  /* Divider height */
  background-color: #e0e1dd;
  /* Divider color */
  margin-top: 20px;
  /* Adjust spacing between row and divider */
  margin-bottom: 15px;
}

  